<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <a th:href="@{/clientes/nuevo}">Agregar nuevo</a>
    <table border="1">
        <tr>
            <th>ID</th><th>DNI</th><th>Nombres</th><th>Dirección</th><th>Email</th><th>Acciones</th>
        </tr>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.idCliente}"></td>
            <td th:text="${cliente.dni}"></td>
            <td th:text="${cliente.nombres}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.email}"></td>
            <td>
                <a th:href="@{/clientes/editar/{id}(id=${cliente.idCliente})}">Editar</a> |
                <a th:href="@{/clientes/eliminar/{id}(id=${cliente.idCliente})}">Eliminar</a>
            </td>
        </tr>
    </table>
</body>
</html>